#profile-picture{
    border: 1px solid blue;
    grid-column-start: 1;
    grid-column-end: 2;
}
#title {
    border: 1px solid blue;
    grid-column-start: 2;
    grid-column-end: 3;
}
#objective {
    border: 1px solid blue;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
}
