.main-content{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.content{
    width: 60%;
    height: 100vh;
    margin: auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
}

