* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

.box-logo {
    border: 2px solid rgb(65, 174, 251);
    border-radius: 5px;
    height: 50px;
    width: 50px;
}

.nav-bar {
    display: flex;
    align-content: center;
    align-items: center;
}